In [1]:
import pandas as pd
import numpy as np

### Q1. Pandas version

In [2]:
pd.__version__

'2.2.2'

In [3]:
laptops = pd.read_csv('./laptops.csv')

In [4]:
laptops

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

### Q2. Records count

In [5]:
len(laptops)

2160

### Q3. Laptop brands

In [6]:
laptops.Brand.nunique()

27

### Q4. Missing values

In [7]:
int((laptops.isnull().sum() > 0).sum())

3

### Q5. Maximum final price

In [8]:
float(laptops.groupby('Brand')['Final Price'].max()['Dell'])

3936.0

### Q6. Median value of Screen

1. Find the median value of `Screen` column in the dataset.

In [9]:
float(laptops.Screen.median())

15.6

2. Next, calculate the most frequent value of the same `Screen` column.

In [10]:
float(laptops.Screen.mode()[0])

15.6

3. Use `fillna` method to fill the missing values in `Screen` column with the most frequent value from the previous step.

In [11]:
laptops.Screen.fillna(laptops.Screen.mode())

0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64

4. Now, calculate the median value of `Screen` once again.

In [12]:
float(laptops.Screen.median())

15.6

In [13]:
float(laptops.Screen.mode()[0])

15.6

Has it changed? No

### Q7. Sum of weights

1. Select all the "Innjoo" laptops from the dataset.

In [14]:
injoo_laptops = laptops[laptops.Laptop.str.contains('Innjoo') | laptops.Brand.str.contains('Innjoo')]

In [15]:
injoo_laptops

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

2. Select only columns `RAM`, `Storage`, `Screen`.

In [16]:
injoo_laptops[["RAM", "Storage", "Screen"]]

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

3. Get the underlying NumPy array. Let's call it `X`.

In [17]:
X = (injoo_laptops[["RAM", "Storage", "Screen"]]).to_numpy()

In [18]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.

In [19]:
XTX = np.dot(X.T, X)

In [20]:
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

5. Compute the inverse of `XTX`.

In [21]:
np.linalg.inv(XTX)

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

6. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100]`.

In [22]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [23]:
y

array([1100, 1300,  800,  900, 1000, 1100])

7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.

In [24]:
w = (np.dot(np.linalg.inv(XTX), X.T)) @ y

In [25]:
w

array([45.58076606,  0.42783519, 45.29127938])

8. What's the sum of all the elements of the result?

In [26]:
float(w.sum())

91.2998806299555